@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0%;
    margin-bottom: 0px;
    background-color: #0a35c4;
    line-height: 35px;
    font-size: 25px
}

header{

z-index: 1;
background-color: rgb(14, 13, 13);
padding: 50px 10px;
color: #ffffff;
border-bottom: 2px solid #014901;
border-left: 2px solid #014901;
text-align: left; 
font-size: 60px; 
font-weight: bold;
position: fixed; 
top: 0;
width: 93.45%; 
height: 3%;
transition: 0.4s

}


header :hover{
color: #014901;
}

header a{
color: #ffffff;
text-decoration: none;
}


#banner{
    /*border-bottom:2px solid #800020;*/
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom: 2px solid #014901;
    border-right: 2px solid #014901;
    border-left: 2px solid #014901;
}


#CBM:active{

float: right;
font-family: 'Righteous';
padding: 5px;
background-color: #0a35c4;
color: #cecece;
border: 2px solid #014901;
cursor: pointer;
width:7.5%;
border-radius: 5px;

}

#CBM:hover{

color: #000000;
width:8.5%;
transition: 0.3s;
border-radius: 20px;

}

#CBM{

float: right;
font-family: 'Righteous';
padding: 5px;
background-color: #0a35c4;
color: #ffffff;
border: 2px solid #014901;
cursor: pointer;
width:7.5%;
transition: 0.3s;;
border-radius: 5px;

}


img{
    width: 100%;
    height: auto;
}


.ban_img{

border-bottom: 2px solid #014901;
height: 100%;
width:100%;

}


#WH_int{

position: relative;
    height: 35%;
    width: 50%;
    float: left;
    border: 2px solid #014901;
    margin-right: 10px;

}


#WH_ex{

position: relative;
    height: 35%;
    width: 50%;
    float: right;
    border: 2px solid #014901;
    margin-right: 10px;

}


#John_image{
    position: relative;
    height: 15%;
    width: 15%;
    float: left;
    border: 2px solid #014901;
    margin-right: 10px;
    z-index: 0;
}


#EHimage{

height: fit-content;
width:fit-content;

}


h1 {
    color: white;
    text-align: center;
}

#description_1{
    color: rgb(0, 0, 0);
    font-size: 24px;
    background-color: rgb(216, 204, 33);
    height: auto;
    width: fit-content;
    padding: 25px;
    margin-bottom: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #014901;

}

#description_2{
    color: rgb(0, 0, 0);
    font-size: 24px;
    background-color: rgb(216, 204, 33);
    height: auto;
    width: fit-content;
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid #014901;

}

p{

    align-items: center;
    border: 50px;

}

#cate_Heading{

font-weight: bold;

}



h1{
    box-align: center;
}

div.car-of-the-week{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding:0 50px;
    margin-bottom: 25px;
}

div.gallery{
    flex: 1 1 calc(50% - 10px);
    border: 2px solid #014901;
    box-sizing: border-box;
}

div.gallery {
    width: 22%;
    max-width: 800px;
}

div.gallery:hover{
    border: 1px solid aqua;
}

div.gallery img{
width: 100%;
height: auto;
}

div.gallery div.desc{
padding: 15px;
text-align: center;
color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    div.gallery {
        flex: 1 1 100%;
    }
}

#car_desc{
    color: white;
    font-size: 24px;
    background-color: rgb(80, 80, 80);
    margin-right: 50px;
    margin-left: 50px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 2px solid #800020;
}


form{
    background-color: rgb(216, 204, 33);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid #014901;
    margin-bottom: 0%;
}

textarea{

font-family: 'Righteous';
width: 99%;
height: 100%;
resize: none;
padding:10px;
border: 2px solid #014901;

}

#email_input{
    
    font-family: 'Righteous';
    width: 50%;
    height: 20%;
    padding: 10px;
    margin-top: 0.5%;
    border: 2px solid #014901;

}

#sub_button{

font-family: 'Righteous';
padding: 5px;
background-color: rgb(80, 80, 80);
color: #cecece;
border: 2px solid #014901;
cursor: pointer;
width:7.5%;
border-radius: 5px;
transition: 0.3s;

}

#sub_button:hover{

color: #014901;
width:8.5%;
transition: 0.3s;
border-radius: 20px;

}

#sub_button:active{

font-family: 'Righteous';
padding: 5px;
background-color: rgb(59, 59, 59);
color: #ffffff;
border: 2px solid #014901;
cursor: pointer;
width:7.5%;
transition: 0.3s;
border-radius: 5px;
    
}


footer{

background-color: rgb(14, 13, 13);
color: aliceblue;
border-top: 2px solid #014901;
border-right: 2px solid #014901;
border-left: 2px solid #014901;


}